mac/amblib.xcodeproj/xcuserdata
mac/amblib.xcodeproj/project.xcworkspace/xcshareddata
mac/amblib.xcodeproj/project.xcworkspace/xcuserdata
mac/DerivedData
*.db
*.suo
*.opendb
*.log
*.obj
win/Debug/
win/Release/
